<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/lib_minify/tests" />
        <option value="$PROJECT_DIR$/laminas_mvc_core/tests" />
        <option value="$PROJECT_DIR$/laminas_mvc/tests" />
      </list>
    </option>
  </component>
</project>