/* Base */
::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

html {
  font-size: 100%;
}

@media (max-width: 767px) {
  html {
    font-size: 75%;
  }
}

ol li {
  list-style: none;
}

hr {
  border-top: 1px solid rgba(0,0,0,.05);
}

.bg-gray-light {
  background-color: #eee;
}

.w-35 {
  width: 35%;
}

.w-65 {
  width: 65%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-45 {
  width: 45%;
}

.w-55 {
  width: 55%;
}

.xs-fs0 {
   font-size: .6rem !important;
}

.xs-fs {
   font-size: .7rem !important;
}

.xs-fs2 {
   font-size: .8rem !important;
}

.xs-fs3 {
  font-size: .75rem !important;
}

.sm-fs{
  font-size: 1rem !important;
}

.md-fs{
  font-size: 1.2rem !important;
}

.lg-fs{
  font-size: 1.5rem !important;
}

.xl-fs{
  font-size: 2rem !important;
}

@media (max-width: 767px){
  .xs-mb-fs0 {
     font-size: .6rem !important;
  }

  .xs-mb-fs {
     font-size: .7rem !important;
  }

  .xs-mb-fs2 {
     font-size: .8rem !important;
  }

  .sm-mb-fs{
      font-size: 1rem !important;
  }

  .md-mb-fs{
      font-size: 1.2rem !important;
  }

  .lg-mb-fs{
      font-size: 1.5rem !important;
  }

  .xl-mb-fs{
      font-size: 2rem !important;
  }

}

.bg-main {
  background: #409bee;
}

.text-main {
  color: #409bee;
}

a {
  color: #409bee;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  padding-left: 35px;
  padding-right: 35px;
  max-width: 1300px;
}

@media (max-width: 575px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* Footer */
#copyright {
  background-color: #3d3d3d;
}

#copyright ul {
  text-align: center;
  padding: 10px 0;
}

#copyright ul li {
  display: inline-block;
  color: #fff;
  padding: 0 18px;
  font-size: 12px;
}

#copyright ul li:last-child {
  border-right: 0;
}


/* Navbar */
.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: fixed;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.1);
  top: 0;
}

.site-navbar.transparent {
  background: transparent;
}

.site-navbar.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.site-navbar .site-logo {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: -20px;
}

.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid #f3f3f4 !important;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .thumb-img {
  max-width: 50px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.site-navbar .site-navigation .site-menu .thumb-img img {
  width: 100%;
}

.site-navbar .site-navigation .site-menu .active>a {
  color: #409bee;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu>li {
  display: inline-block;
  width: 95px;
}

.site-navbar .site-navigation .site-menu>li>a {
  color: #000;
  text-decoration: none !important;
  align-items: center;
}
.site-navbar .site-navigation .site-menu>li>a>span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.site-navbar .site-navigation .site-menu>li>a:hover {
  color: #409bee;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children>a {
  position: relative;
  /*padding-right: 20px;*/
}

.site-navbar .site-menu-toggle {
  color: #000;
}

/*.site-navbar .site-navigation .site-menu .has-children>a:before {
  position: absolute;
  content: "\f0d7";
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'FontAwesome';
}*/

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  right: 0;
  position: absolute;
  text-align: left;
  /*border-top: 2px solid #409bee;*/
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #edf0f5;
  border-right: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a {
  color: #409bee !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
  list-style: none;
  /*padding: 0;
  margin: 0;*/
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
  padding: 9px 20px;
  display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
  background: #f4f5f9;
  color: #25262a;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.w-1c {
  width: 240px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.w-2c {
  width: 480px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.w-3c {
  width: 720px;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.w-4c {
  width: 960px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
  content: "\e315";
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
  background: #f4f5f9;
  color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children:focus>a,
.site-navbar .site-navigation .site-menu .has-children:active>a {
  color: #409bee;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.show {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.dropdown {
  transition: margin .3s ease-out, visibility .3s ease-out;
}

.site-mobile-menu {
  width: calc(100vw - 80px);
  max-width: 350px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
  transform: translateX(-110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  display: inline-block;
  line-height: 1;
  font-size: 1.7rem;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;
  content: '';
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:before{
  content: '✕';
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 7px 15px;
  display: block;
  position: relative;
  color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #409bee;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li.active>a {
  color: #409bee;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 0;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  z-index: 20;
  font-family: "FontAwesome";
  content: "\f0d7";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  -ms-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap>li>a {
  padding-left: 20px;
}

.site-mobile-menu .site-nav-wrap>li>ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
  padding-left: 40px;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
  padding-left: 45px;
}

.site-mobile-menu .site-nav-wrap .txt-item{
  padding: 7px 15px; 
  padding-left: 45px;
  display: block;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"]>li {
  width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"]>li:first-child a {
  padding-left: 15px !important;
}

nav.stroke>ul li a,
nav.stroke>ul li a:after,
nav.stroke>ul li a:before {
  transition: all .3s;
}

nav.stroke>ul li a {
  position: relative;
}

nav.stroke>ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: #409bee;
  height: 3px;
}

nav.stroke>ul>li:hover>a:after,
nav.stroke>ul>li:focus>a:after {
  width: 100%;
}

nav.stroke>ul li .dropdown a:hover:after {
  width: 0;
}

#header-container {
  margin-top: 71px;
}

.tags-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  /*min-height: 48px;*/
}

.tags-box .tag {
  font-size: .75rem;
  font-weight: 400;
  color: #333;
  background: #f8f9fa;
  padding: 6px 7px;
  margin: 3px;
  border-radius: 3px;
  border: 1px solid #ced4da;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  transition: all .2s ease-in-out;
}

.tags-box .tag:before {
  content: '\f02b';
  font-family: FontAwesome;
  padding-right: 5px;
  font-size: .8rem;
  position: relative;
  top: 1px;
  color: #409bee;
  transition: all .3s ease-in-out;
}

.tags-box .tag:hover {
  color: #fff;
  background-color: #409bee;
  border-color: #409bee;
}

.tags-box .tag:hover:before {
  color: #fff;
}

#backToTop {
  position: fixed;
  bottom: -40px;
  right: 60px;
  background-color: #409bee;
  font-size: 2rem;
  color: #fff;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  visibility: hidden;
  transition: all .2s ease-in-out;
  cursor: pointer;
  outline: none;
  z-index: 2;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.wrap-dropdown {
  padding: 5px;
}
.wrap-dropdown li {
  padding: 0;
}
.wrap-dropdown li a {
  width: 100%;
  padding: 3px;
}
.wrap-dropdown li a:hover {
  color: #409bee;
  background-color: #eee;
}

#backToTop.show {
  bottom: 30px;
  visibility: visible;
}

@media (max-width: 767px) {
  #backToTop {
    right: 15px;
  }

  #backToTop.show {
    bottom: 15px;
  }
}

@media (min-width: 992px) {
  .wrap-dropdown {
    padding: 10px;
  }
}

.page-link {
  color: #409bee;
}

.page-link:hover {
  z-index: 0;
}

.page-item.active .page-link {
  background-color: #409bee;
}

.breadcrumb {
  padding: .5rem;
  border-radius: 0;
  background-color: #eee;
  border-left: solid 4px #409bee;
}

.owl-banner .item {
  color: #fff;
  /*height: 80px;*/
  /*width: 100%;*/
  padding-bottom: 56.25%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  margin: 7px 6px;
}

/*.owl-banner .item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: flex;
  align-self: center;
}*/

.owl-carousel .owl-stage-outer {
  position: relative;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  transition: all .125s ease-out;
  transform: translateY(-50%);
  outline: none;
  opacity: .6;
}

.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
  opacity: .9;
}

.owl-carousel .owl-nav .owl-prev.disabled, 
.owl-carousel .owl-nav .owl-next.disabled {
  opacity: 0;
  visibility: hidden;
}

.owl-carousel .owl-nav .owl-prev {
  left: -9px;
}

.owl-carousel .owl-nav .owl-next {
  right: -9px;
}

@media (max-width: 575px){
  .owl-carousel .owl-nav .owl-prev {
    left: 0;
  }

  .owl-carousel .owl-nav .owl-next {
    right: 0;
  }
}

.owl-carousel .owl-nav .owl-prev i:before {
  margin-right: 5px;
}

.owl-carousel .owl-nav .owl-next i:before {
  margin-left: 5px;
}

.owl-carousel .owl-nav .custom-owlNav {
  font-size: 48px;
  color: #fff;
  background: #585550;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.cate-title {
  position: relative;
  border-left: solid 4px #409bee;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 0 4px 4px 0;
}

.cate-title h2 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  width: calc(100% - 120px);
  color: #424242;
}

.cate-title.no-btn h2 {
  width: 100%;
}

@media (max-width: 767px) {
  .cate-title h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .thumb-img {
    margin-right: 7px;
    max-width: 50px;
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
  .thumb-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cate-title .more-btn {
  position: absolute;
  height: 100%;
  width: 120px;
  top: 0;
  right: 0;
  background: #409bee;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: all .125s ease-out;
}

.cate-title .more-btn:after {
  content: '\f105';
  font-family: FontAwesome;
  padding-left: 7px;
}

.cate-title .more-btn:hover {
  transform: scale(1.04);
  transform-origin: center;
}

.custom-mg-hz {
  margin-left: 6px;
  margin-right: 6px;
}

.blog-list {
  border: solid 1px #ced4da;
  border-radius: 4px;
  margin-bottom: 10px;
}

.list-title {
  display: block;
  border-bottom: 1px solid #ced4da;
}

.list-item {
  font-size: .8rem;
}

.cate-ticket {
  text-align: center;
  display: block;
  padding: 2px;
}

li.breadcrumb-item:empty {
  display: none;
}

.related-thumb {
  padding-bottom: 56.25%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

@media (max-width: 575px) {
  .blog-list .list-item:nth-child(even) {
    background-color: #eee;
  }
}

.logo {
  width: 100%;
  height: auto;
  max-width: 190px;
  transition: all .3s ease-out;
}

.m_form .custom-input {
  padding-left: 0;
}

.m_form .custom-input:focus {
  box-shadow: none;
  border-color: #ced4da
}

/*scroll css*/
.site-navigation.header-sm>ul>li>a>span {
  max-height: 0;
  font-size: 0;
}
.site-navigation>ul>li>a>span {
  max-height: 80px;
  transition: all .3s ease-out;
}
.site-navigation>ul>li>a {
  padding: 10px 0;
}
.site-navigation.header-sm>ul>li>a {
  padding: 9px 0;
}
.logo.sm-logo {
  width: 100%;
  height: auto;
  max-width: 165px;
}




